@charset "UTF-8";
/* CSS Document */

/* TABLE OF CONTENTS 

00. TYPOGRAPHY
01. NAVIGATION
02. MARGINS
03. PROJECT PAGE
04. ABOUT PAGE
05. FOOTER
06. FULL SCREEN MENU
07. MEDIA QUERIES 

*/


/* ------------------- 
 00. TYPOGRAPHY
-------------------- */
body {
	font-size: 2rem;
}
p {
	font-family: "kepler-std-semicondensed", serif;
	}
* {
	font-size: 1rem;
}
h1 {
	font-family: "kepler-std-semicondensed", serif;
	letter-spacing: 5px;
	font-style:italic;
	text-transform:uppercase;
	font-size: 4rem;

}
h2 {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 3rem;
	text-transform:uppercase;
	letter-spacing: 10px;
	position: absolute;
	top: 50px;
	left: -65px;
	z-index:2;
}
#home-quote {
	margin-left: 10rem;
	margin-top: 25rem;
	}
.right-title {
	top: 50px;
	left: 450px;
}
a {
	font-size: inherit;
	font-family: inherit;
}
.all-caps {
	text-transform: uppercase;
	}
.sub-title {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size:2.5rem;
	letter-spacing: 5px;
	text-transform:uppercase;
	}
/* ------------------- 
01.	NAVIGATION
-------------------- */

#logo-position {
	position: fixed;
	left: 60px;
	top: 75px;
	z-index:3;
}
/* ------------------- 
02.	MARGINS
-------------------- */
.project-margin {
	margin-bottom: 15em;
}
.copy-margin {
	margin: 2rem;
}
.wrapper {
	margin-bottom: 12.5em;
}
#wine-img-margin {
	margin-bottom: 15rem;
	}
/* ------------------- 
03. PROJECT PAGE
-------------------- */
/*.project-img-margin {
	margin: 0 10em 15em 10em;
}*/
.next-project-padding {
	padding: 0;
}
.next-project-img-margin {
	margin-top: 25rem;
}

/* ------------------- 
04. ABOUT PAGE
-------------------- */
#about-title {
	margin-left: 2rem;
}
.contact-space {
	margin: 20rem auto;
}
.contact-info {
	width: 50%;
	height: 50px;
	border: 2px solid;
	}
.contact-info:hover {
	width: 50%;
	height: 50px;
	background-color:#343535;
	color: #e0e3e3;
	}
.contact-info-paragraph {
	font-size: 2rem;
	text-align: center;
	}
a:visited {
	color: #aeadae;
	}
/* ------------------- 
05. FOOTER
-------------------- */
footer {
	margin-top: 10rem;
}
/* -- IMAGES--*/
img {
	z-index: 1;
	}
.home-img {
-webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.next-img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/*------------------- 
06. FULL SCREEN MENU
----------------------*/
.flex-center {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
* {
	box-sizing: border-box;
	font-family: 'Pathway Gothic One', sans-serif;
	font-weight: 300;
}
a, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}
.outer-menu {
	position: fixed;
	top: 10vh;
	right: 130px;
	z-index: 3;
}
.outer-menu .checkbox-toggle {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	cursor: pointer;
	width: 60px;
	height: 60px;
	opacity: 0;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before, .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
	top: 0;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
	opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
	pointer-events: auto;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
	width: 300vw;
	height: 200vw;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.3s;
	transition: opacity 0.3s ease 0.3s;
}
.outer-menu .checkbox-toggle:hover + .hamburger {
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	transform: rotate(225deg);
}
.outer-menu .hamburger {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 60px;
	height: 60px;
	padding: .5em 1em;
	background: rgba(52, 53, 53, 0.73);
	border-radius: 0 0.12em 0.12em 0;
	cursor: pointer;
	-webkit-transition: opacity 600ms cubic-bezier(0.215,0.61,0.355,1),visibility 0s linear 0s;
	transition: opacity 600ms cubic-bezier(0.215,0.61,0.355,1),visibility 0s linear 0s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.outer-menu .hamburger > div {
	position: relative;
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	width: 100%;
	height: 2px;
	background: #fefefe;
	-webkit-transition: opacity 600ms cubic-bezier(0.215,0.61,0.355,1),visibility 0s linear 0s;
	transition: all 0.3s ease;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.outer-menu .hamburger > div:before, .outer-menu .hamburger > div:after {
	content: '';
	position: absolute;
	z-index: 1;
	top: -10px;
	left: 0;
	width: 100%;
	height: 2px;
	background: inherit;
	-webkit-transition: opacity 600ms cubic-bezier(0.215,0.61,0.355,1),visibility 0s linear 0s;
	transition: opacity 600ms cubic-bezier(0.215,0.61,0.355,1),visibility 0s linear 0s;
}
.outer-menu .hamburger > div:after {
	top: 10px;
}
.outer-menu .menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.outer-menu .menu > div {
	width: 0;
	height: 0;
	color: #fefefe;
	background: rgba(52, 53, 53, 0.73);
	border-radius: 50%;
	-webkit-transition: opacity 600ms cubic-bezier(0.215,0.61,0.355,1),visibility 0s linear 0s;
	transition: opacity 600ms cubic-bezier(0.215,0.61,0.355,1),visibility 0s linear 0s;
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.outer-menu .menu > div > div {
	text-align: center;
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	-webkit-transition: opacity 600ms cubic-bezier(0.215,0.61,0.355,1),visibility 0s linear 0s;
	transition: opacity 600ms cubic-bezier(0.215,0.61,0.355,1),visibility 0s linear 0s;
	overflow-y: auto;
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.outer-menu .menu > div > div > ul {
	list-style: none;
	padding: 0 1em;
	margin: 0;
	display: block;
	max-height: 100vh;
}
.outer-menu .menu > div > div > ul > li {
	padding: 0;
	margin: 1em;
	font-size: 24px;
	display: block;
}
.outer-menu .menu > div > div > ul > li > a {
	position: relative;
	display: inline;
	cursor: pointer;
	font-family: 'Pathway Gothic One', sans-serif;
	text-transform:uppercase;
	letter-spacing: 10px;
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
	z-index: 5;
}
.outer-menu .menu > div > div > ul > li > a:hover {
	color: #e5e5e5;
}
.outer-menu .menu > div > div > ul > li > a:hover:after {
	width: 100%;
}
.outer-menu .menu > div > div > ul > li > a:after {
	content: '';
	position: absolute;
	z-index: 1;
	bottom: -0.15em;
	left: 0;
	width: 0;
	height: 2px;
	background: #e5e5e5;
	-webkit-transition: width 0.3s ease;
	transition: width 0.3s ease;
}
 /* ------------------- 
07.	MEDIA QUERIES
-------------------- */
 /*Small screens*/ 

 @media only screen {
	 
} /* Define mobile styles */

@media only screen and (max-width: 40em) {

h1 {
	font-size: 2.4rem;
	margin-left: 1rem;
	margin-top: 0;
}
h2 {
	font-size: 2rem;
	top: 290px;
	left: 20px;
}
#home-quote {
	margin-left: 1.5rem;
	margin-top: 0;
	}
.p-small-position {
	position: relative;
	top: 100px;
	left: 20px;
}
.right-title {
	top: 180px;
	left: 5px;
}
.project-margin {
	margin-bottom: 10em;
}
#logo-position {
	position: fixed;
	left: 0;
	top: 0;
}
.sub-title {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size:1.4rem;
	letter-spacing: 5px;
	text-transform:uppercase;
	}
.outer-menu {
	position: fixed;
	top: 0;
	right: 60px;
	z-index: 1;
}
.copy-margin {
	margin-left: 2rem;
}
.nxt-prjt-hide-large {
	display: inherit;
}
.contact-space {
	margin: 10rem auto;
}
.project-img-margin {
	margin: 0;
}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

.p-small-position {
	position: relative;
	top: 70px;
	left: 20px;
}
h2 {
	font-size: 2.5rem;
	top: 460px;
	left: 20px;
}
.right-title {
	top: 280px;
	left: 20px;
}
#small-smartkart-title {
	font-size: 3rem;
	top: 385px;
	left: 10px;
}
}
@media only screen and (min-width: 64.063em) { 
h2 {
	font-size: 2.5rem;
	top: 100px;
	left: -120px;
}
.right-title {
	top: -15px;
	left: 450px;
}
} 